[submodule "PageantSharp"]
	path = PageantSharp
	url = git@github.com:dlech/PageantSharp.git
[submodule "KeePassPluginTestUtil"]
	path = KeePassPluginTestUtil
	url = git@github.com:dlech/KeePassPluginTestUtil.git
