[submodule "KeePassPluginTestUtil"]
	path = KeePassPluginTestUtil
	url = git://github.com/dlech/KeePassPluginTestUtil.git
[submodule "IOProtocolExt"]
	path = IOProtocolExt
	url = git://github.com/dlech/IOProtocolExt.git
[submodule "SshAgentLib"]
	path = SshAgentLib
	url = git://github.com/dlech/SshAgentLib.git
