Package: keeagent
Version: 0.3.6-1
Section: utils
Priority: optional
Architecture: all
Depends: keepass2 (>= 2.19), mono-dmcs (>= 2.10.1)
Homepage: http://lechnology.com/KeeAgent
Maintainer: David Lechner <david@lechnology.com>
Description: SSH agent plugin for KeePass 2.x
 Plugin for KeePass 2.x that enables KeePass to automatically load ssh keys
 into ssh-agent or act as a stand-alone ssh agent.

