Source: keepass2-plugin-keeagent
Section: utils
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 10), cli-common-dev (>= 0.8), keepass2 (>= 2.41), keepass2-plugin-dev
Standards-Version: 3.9.5
Homepage: http://lechnology.com/KeeAgent
Vcs-Git: git://github.com/dlech/KeeAgent.git
Vcs-Browser: https://github.com/dlech/KeeAgent

Package: keepass2-plugin-keeagent
Architecture: all
Depends: keepass2 (>= 2.41),
         mono-mcs,
         libmono-system-data-datasetextensions4.0-cil,
         ssh-askpass,
         ${misc:Depends},
         ${cil:Depends}
Description: SSH agent plugin for KeePass 2.x
 Allows users of KeePass 2.x to manage their SSH keys directly from KeePass,
 including automatically loading keys that are stored in a KeePass database.

