#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with cli

override_dh_auto_clean:
	xbuild /target:Clean /property:Configuration=ReleasePlgx KeeAgent.sln
	dh_auto_clean

override_dh_auto_build:
	xbuild /property:Configuration=ReleasePlgx KeeAgent.sln

override_dh_install:
	mkdir -p $(CURDIR)/debian/keepass2-plugin-keeagent/usr/lib/keepass2/plugins
	cp $(CURDIR)/KeeAgent/bin/ReleasePlgx/KeeAgent.plgx $(CURDIR)/debian/keepass2-plugin-keeagent/usr/lib/keepass2/plugins/
	dh_install

